<div class="d-flex justify-content-center">
  <div class="col-8">
    <form [formGroup]="editForm" (ngSubmit)="save()" novalidate>
      <h2
        id="jhi-notification-heading"
        data-cy="NotificationCreateUpdateHeading"
        jhiTranslate="codeStageApp.notification.home.createOrEditLabel"
      >
        Créer ou éditer une Notification
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!-- Afficher l'ID uniquement si non null -->
        <div class="mb-3" *ngIf="editForm.get('id')?.value !== null">
          <label class="form-label" for="field_id" jhiTranslate="codeStageApp.notification.id">ID</label>
          <input type="number" class="form-control" id="field_id" data-cy="id" formControlName="id" readonly />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="codeStageApp.notification.type">Type</label>
          <input
            type="text"
            class="form-control"
            id="field_type"
            data-cy="type"
            formControlName="type"
            placeholder="Type de la notification"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_message" jhiTranslate="codeStageApp.notification.message">Message</label>
          <input
            type="text"
            class="form-control"
            id="field_message"
            data-cy="message"
            formControlName="message"
            placeholder="Message de la notification"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateEnvoi" jhiTranslate="codeStageApp.notification.dateEnvoi">Date Envoi</label>
          <input
            id="field_dateEnvoi"
            data-cy="dateEnvoi"
            type="datetime-local"
            class="form-control"
            formControlName="dateEnvoi"
            placeholder="YYYY-MM-DD HH:mm"
          />
        </div>

        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="field_statutLecture"
            data-cy="statutLecture"
            formControlName="statutLecture"
          />
          <label class="form-check-label" for="field_statutLecture" jhiTranslate="codeStageApp.notification.statutLecture"
            >Statut Lecture</label
          >
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_degradation" jhiTranslate="codeStageApp.notification.degradation">Dégradation</label>
          <select
            class="form-select"
            id="field_degradation"
            data-cy="degradation"
            formControlName="degradation"
            [compareWith]="compareDegradation"
          >
            <option [ngValue]="null">-- Sélectionner une dégradation --</option>
            <option *ngFor="let degradationOption of degradationsSharedCollection" [ngValue]="degradationOption">
              {{ degradationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
