<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-notification-heading"
        data-cy="NotificationCreateUpdateHeading"
        jhiTranslate="codeStageApp.notification.home.createOrEditLabel"
      >
        Créer ou éditer un Notification
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="codeStageApp.notification.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="codeStageApp.notification.type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_message" jhiTranslate="codeStageApp.notification.message">Message</label>
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateEnvoi" jhiTranslate="codeStageApp.notification.dateEnvoi">Date Envoi</label>
          <div class="d-flex">
            <input
              id="field_dateEnvoi"
              data-cy="dateEnvoi"
              type="datetime-local"
              class="form-control"
              name="dateEnvoi"
              formControlName="dateEnvoi"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_statutLecture" jhiTranslate="codeStageApp.notification.statutLecture">Statut Lecture</label>
          <input
            type="checkbox"
            class="form-check"
            name="statutLecture"
            id="field_statutLecture"
            data-cy="statutLecture"
            formControlName="statutLecture"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_degradation" jhiTranslate="codeStageApp.notification.degradation">Degradation</label>
          <select
            class="form-control"
            id="field_degradation"
            data-cy="degradation"
            name="degradation"
            formControlName="degradation"
            [compareWith]="compareDegradation"
          >
            <option [ngValue]="null"></option>
            @for (degradationOption of degradationsSharedCollection; track $index) {
              <option [ngValue]="degradationOption">{{ degradationOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
