<div>
  <h2 id="page-heading" data-cy="SiteHeading">
    <span jhiTranslate="codeStageApp.site.home.title">Sites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="codeStageApp.site.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-site"
        [routerLink]="['/site/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="codeStageApp.site.home.createLabel">Créer un nouveau Site</span>
      </button>
    </div>
  </h2>

  <app-search-bar [placeholder]="'Rechercher un site...'" (search)="onSearch($event)"></app-search-bar>

  <jhi-alert-error />

  <jhi-alert />

  @if (sites().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="codeStageApp.site.home.notFound">Aucun Site trouvé</span>
    </div>
  } @else {
    <div class="d-flex justify-content-between mb-3">
      <button class="btn btn-danger" (click)="deleteSelected()" [disabled]="selectedSites.size === 0">
        <i class="fa fa-trash"></i> Supprimer sélectionnés
      </button>
    </div>
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomSite">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.nomSite">Nom Site</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeOCI">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.codeOCI">Code OCI</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="longitude">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.longitude">Longitude</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="latitude">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.latitude">Latitude</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gestionnaire">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.gestionnaire">Gestionnaire</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="proprietaire">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.proprietaire">Proprietaire</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="equipementier">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.equipementier">Equipementier</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeSite">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.typeSite">Type Site</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modeAntenne">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.modeAntenne">Mode Antenne</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statut">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.statut">Statut</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="couche">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.couche">Couche</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="enService">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.enService">En Service</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="technologie">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.technologie">Technologie</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateMiseEnService">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.dateMiseEnService">Date Mise En Service</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateMes2G">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.dateMes2G">Date Mes 2 G</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateMes3G">
              <div class="d-flex">
                <span jhiTranslate="codeStageApp.site.dateMes3G">Date Mes 3 G</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (site of sites(); track trackId(site)) {
            <tr data-cy="entityTable">
              <td>
                <input type="checkbox" [checked]="selectedSites.has(site.id)" (change)="toggleSelection(site.id)" />
              </td>
              <td>
                <a [routerLink]="['/site', site.id, 'view']">{{ site.id }}</a>
              </td>
              <td>{{ site.nomSite }}</td>
              <td>{{ site.codeOCI }}</td>
              <td>{{ site.longitude }}</td>
              <td>{{ site.latitude }}</td>
              <td>{{ site.gestionnaire }}</td>
              <td>{{ site.proprietaire }}</td>
              <td>{{ site.equipementier }}</td>
              <td>{{ site.typeSite }}</td>
              <td>{{ site.modeAntenne }}</td>
              <td>{{ site.statut }}</td>
              <td>{{ site.couche }}</td>
              <td>{{ site.enService }}</td>
              <td>{{ site.technologie }}</td>
              <td>{{ site.dateMiseEnService | formatMediumDate }}</td>
              <td>{{ site.dateMes2G | formatMediumDate }}</td>
              <td>{{ site.dateMes3G | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/site', site.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/site', site.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(site)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (sites().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
