<nav *ngIf="account()" class="navbar navbar-dark navbar-expand-md bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()"> </a>

    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" (click)="toggleNavbar()">
      <fa-icon icon="bars"></fa-icon>
    </a>

    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <!-- Accueil -->
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/home" (click)="collapseNavbar()">
            <fa-icon icon="home"></fa-icon>
            <span jhiTranslate="global.menu.home">Accueil</span>
          </a>
        </li>

        <!-- Nouvel Incident -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/degradation" (click)="collapseNavbar()">
            <fa-icon icon="th-list"></fa-icon>
            <span>Nouvel Incident</span>
          </a>
        </li>

        <!-- Délai Intervention (remplace Liste) -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/delai-intervention" (click)="collapseNavbar()">
            <fa-icon icon="list"></fa-icon>
            <span>Délai Intervention</span>
          </a>
        </li>

        <!-- Notifications -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/notification" (click)="collapseNavbar()">
            <fa-icon icon="bell"></fa-icon>
            <span>Notifications</span>
          </a>
        </li>

        <!-- Liens réservés à l'administrateur -->
        <li class="nav-item" *ngIf="isAdmin()" routerLinkActive="active">
          <a class="nav-link" routerLink="/utilisateur" (click)="collapseNavbar()">
            <fa-icon icon="users-cog"></fa-icon>
            <span>Utilisateurs</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="isAdmin()" routerLinkActive="active">
          <a class="nav-link" routerLink="/type-utilisateur" (click)="collapseNavbar()">
            <fa-icon icon="user-shield"></fa-icon>
            <span>Types d’utilisateurs</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="isAdmin()" routerLinkActive="active">
          <a class="nav-link" routerLink="/role" (click)="collapseNavbar()">
            <fa-icon icon="user-tag"></fa-icon>
            <span>Rôles</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="isAdmin()" routerLinkActive="active">
          <a class="nav-link" routerLink="/site" (click)="collapseNavbar()">
            <fa-icon icon="server"></fa-icon>
            <span>Sites</span>
          </a>
        </li>

        <!-- Déconnexion -->
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <fa-icon icon="sign-out-alt"></fa-icon>
            <span jhiTranslate="global.menu.account.logout">Déconnexion</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
