<div class="login-page">
  <!-- Formulaire à droite -->
  <div class="login-form-container">
    <div class="form-wrapper">
      <div class="form-header">
        <h2 data-cy="loginTitle" jhiTranslate="login.title">Espace sécurisé</h2>
        <p>Réservé aux membres autorisés</p>
      </div>

      <div *ngIf="authenticationError()" class="alert alert-danger" data-cy="loginError" jhiTranslate="login.messages.error.authentication">
        <strong>Erreur d'authentification !</strong> Veuillez vérifier vos identifiants.
      </div>

      <form class="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <!-- Nom d'utilisateur -->
        <div class="form-group">
          <label for="username" jhiTranslate="global.form.username.label">Nom d'utilisateur</label>
          <input
            #username
            name="username"
            type="text"
            id="username"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="username"
            data-cy="username"
            [class.invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
          />
          <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error-message">Champ requis</div>
        </div>

        <!-- Mot de passe -->
        <div class="form-group password-input">
          <label for="password" jhiTranslate="login.form.password">Mot de passe</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="{{ 'login.form.password.placeholder' | translate }}"
            formControlName="password"
            data-cy="password"
            [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">Champ requis</div>
        </div>

        <!-- Rester connecté -->
        <div class="form-check text-start mt-3">
          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" id="rememberMe" formControlName="rememberMe" />
            <span jhiTranslate="login.form.rememberme">Garder la session ouverte</span>
          </label>
        </div>

        <!-- Bouton de connexion -->
        <button type="submit" class="submit-btn" data-cy="submit" jhiTranslate="login.form.button">Connexion</button>
      </form>

      <!-- Lien mot de passe oublié uniquement -->
      <div class="form-footer mt-3">
        <a routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector" jhiTranslate="login.password.forgot">
          Mot de passe oublié ?
        </a>
      </div>
    </div>
  </div>
</div>
